:root {
  --black: #000;
  --white: #fff;
  --brown: #880602;
}
.navbar {
  padding: 0;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin: 0;
}
.nav-right
{
  margin-left: 15px;
}

.nav-item {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  transition: border-bottom 0.5s;
}

.nav-links {
  color: var(--white);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-family: 'oswald', sans-serif;
  font-weight: bolder;
  font-size: 1.3rem;
}
.nav-links:hover, .fa-bars:hover, .nav-logo:hover, .fitness-beast:hover, .train-with:hover {
  transition: all 0.5s ease-in;
  color: var(--brown);
}
.fitness-beast
{
  font-size: 1.3rem;
    font-family: 'oswald', sans-serif;
    margin: 0;
    color: var(--white);
    font-weight: 900;
    text-decoration: underline;
  text-decoration-color: var(--brown);
}
.train-with{
  font-size: 16px;
    font-family: 'oswald', sans-serif;
    margin: 0;
    font-weight: 200;
    color: var(--white);
}

.head-tag
{
  margin-left: 25px;
}

.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #000000bf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #842029bf }

.dropdown:hover .dropdown-content {
  display: block;
}
.nav-logo{
  height: 55px;
}
