.container{
  background-color: #fff;
  padding:3rem calc((100vw - 1350px) / 2);
  overflow-x: hidden;
}

.title h2{
  color: #000;
  margin: auto;
}

.carousel-indicators,
.carousel-indicators li {
  display: none !important;
}

.h-400
{
  height: 400px;
}

.w-500
{
  width: 500px;
}

.carousel .fas
{
  color: #880602;
  font-size: 30px;
}