h1, p {
  font-family: Lato;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
  padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
    position: relative;
    scroll-behavior: smooth;
    /* width: 100%; */
}
body
{
  height: 100%;
  /* width: 100%; */
  padding: 0;
  margin: 0;
  overflow-y: overlay;

}

.carousel-indicators,
.carousel-indicators li {
  display: none !important;
}


::-webkit-scrollbar {
  appearance: none;
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb
{
background: #880602;
  width: 7px;
  border-radius: 5px;
}